## This notebook is just extra EDA I performed but did not inlcude in the lab so as not to take up your time scrolling

## Week 4, Lab 2: Predicting Chronic Kidney Disease in Patients

In [23]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, LogisticRegression

In [24]:
import warnings
warnings.filterwarnings("ignore")

In [25]:
data = pd.read_csv('/Users/annamitchell/Desktop/GA_Docs/Datasets/chronic_kidney_disease_full.csv')

In [26]:
data.head().T

                0           1           2           3           4
age            48           7          62          48          51
bp             80          50          80          70          80
sg           1.02        1.02        1.01       1.005        1.01
al              1           4           2           4           2
su              0           0           3           0           0
rbc           NaN         NaN      normal      normal      normal
pc         normal      normal      normal    abnormal      normal
pcc    notpresent  notpresent  notpresent     present  notpresent
ba     notpresent  notpresent  notpresent  notpresent  notpresent
bgr           121         NaN         423         117         106
bu             36          18          53          56          26
sc            1.2         0.8         1.8         3.8         1.4
sod           NaN         NaN         NaN         111         NaN
pot           NaN         NaN         NaN         2.5         NaN
hemo         15.4        11.3         9.6        11.2        11.6
pcv            44          38          31          32          35
wbcc         7800        6000        7500        6700        7300
rbcc          5.2         NaN         NaN         3.9         4.6
htn           yes          no          no         yes          no
dm            yes          no         yes          no          no
cad            no          no          no          no          no
appet        good        good        poor        poor        good
pe             no          no          no         yes          no
ane            no          no         yes         yes          no
class         ckd         ckd         ckd         ckd         ckd

In [27]:
data_1 = data

In [29]:
#data_1.drop(columns = ['dm_no', 'cad_no', 'appet_poor', 'pe_no', 'ane_no', 'rbc_normal', 'pc_normal', 'pcc_notpresent', 'ba_notpresent', 'htn_no'], inplace = True)

In [30]:
data_1.replace(np.nan, 0, inplace=True)

In [31]:
data_1['pcc'].replace(0, 'present', inplace=True)

In [32]:
data_1['htn'].replace(0, 'yes', inplace=True)

In [33]:
data_1['dm'].replace(0, 'yes', inplace=True)

In [34]:
data_1['cad'].replace(0, 'yes', inplace=True)

In [35]:
data_1 = pd.get_dummies(data=data_1, drop_first=True)

In [36]:
data.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc', 'rbcc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'class'],
      dtype='object')

In [18]:
data['age'].value_counts()

60.0    19
65.0    17
48.0    12
50.0    12
55.0    12
        ..
14.0     1
81.0     1
22.0     1
26.0     1
79.0     1
Name: age, Length: 77, dtype: int64

In [19]:
data['bp'].value_counts()

80.0     116
70.0     112
60.0      71
90.0      53
100.0     25
0.0       12
50.0       5
110.0      3
120.0      1
180.0      1
140.0      1
Name: bp, dtype: int64

In [20]:
data['sg'].value_counts()

1.020    106
1.010     84
1.025     81
1.015     75
0.000     47
1.005      7
Name: sg, dtype: int64